html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}
.sx__date-input,
.sx__view-selection-selected-item,
.sx__today-button {
  padding: 8px 16px !important;
}
.sx-vue-calendar-wrapper {
  height: 100vh;
}

.calendar-container {
  max-width: 1140px;
  margin: 0 auto;
}
